{{ define "main" }}

<style>
.dig-deep-image {
  background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/v1586541100/Sacred%20Space/therapeutic_yoga_for_health_nqmvot.jpg")
}
.sponsor-application-image {
  background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/v1586547208/Sacred%20Space/Private_Yoga_Classes_lkipso.jpg")
}
</style>

<div class="flex flex-wrap flex-col-reverse sm:flex-row items-center w-11/12 md:w-5/6 xl:w-3/4 max-w-6xl text-center sm:text-left mx-auto pt-5 pb-32">
  <div class="w-full sm:w-1/2">
    <h1 class='{{ partial "gCSS/type/heading.txt"}} text-5xl lg:text-7xl pt-8 sm:pt-0 pb-8'>{{ .Title }}</h1>
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl lg:text-2xl pb-8'>Dig Deep is a program designed to help deepen your practice. It’s based on the concept of personal training and individualized attention without the huge price tag. You can expect a small group of 2-6 people.  You can count on achieving a deeper understanding of foundational concepts, improved mobility, flexibility, stability, and strength. Dig Deep fosters a challenging environment which simultaneously offers support & guidance, while promoting growth.</p>
  </div>
  <div id="lzy-bk" class="w-full sm:w-1/2 bg-contain bg-center bg-no-repeat dig-deep-image">
    <div class="py-32 sm:py-40 lg:py-80"></div>
  </div>
</div>

<div class="flex flex-wrap items-center w-5/6 md:w-1/2 max-w-2xl text-center mx-auto pt-12 pb-32">
  <div class="w-full">
    {{ range (where .Site.Pages "Type" "testimonials") }}
    {{ if eq .Params.dig_deep true }}
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl pb-8'>"{{ .Params.testimonial_text }}"</p>
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl font-bold pb-24'>- {{ .Params.name }}</p>
    {{ else }}{{ end }}
    {{ end }}
  </div>
</div>

<div class="flex flex-wrap items-start w-11/12 xxl:w-4/5 max-w-7xl mx-auto pb-5">
    {{ range (where .Site.Pages "Type" "classes") }}
    {{ if eq .Page.Params.name "Dig Deep" }}
    {{ range .Params.classes.class }}
    <div class="flex flex-wrap w-full lg:w-5/12 mx-auto pb-32">
        <div class="w-full border-b-4 border-purple mb-4">
            <h3 class='{{ partial "gCSS/type/heading.txt"}} text-4halfxl pb-4'>{{ .name }}</h3>
            <h4 class='{{ partial "gCSS/type/heading.txt"}} text-2xl font-bold pb-4'>Session {{ .session_number }}</h4>
        </div>
        <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl pb-2'>{{ .description | safeHTML }}</p>
        <div class="w-1/2 pt-4 px-2">
            <h6 class='{{ partial "gCSS/type/paragraph.txt"}} text-base font-bold'>Time</h6>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} text-base leading-tight'>{{ .time }}</p>
        </div>
        <div class="w-1/2 pt-4 px-2">
            <h6 class='{{ partial "gCSS/type/paragraph.txt"}} text-base font-bold'>Session Length</h6>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} text-base leading-tight'>{{ .duration }}</p>
        </div>
        <div class="w-1/2 pt-4 px-2">
            <h6 class='{{ partial "gCSS/type/paragraph.txt"}} text-base font-bold'>Dates</h6>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} text-base leading-tight'>{{ .dates | safeHTML }}</p>
        </div>
        <div class="w-1/2 pt-4 px-2">
            <h6 class='{{ partial "gCSS/type/paragraph.txt"}} text-base font-bold'>Price</h6>
            <p class='{{ partial "gCSS/type/paragraph.txt"}} text-base leading-none'>{{ .price | safeHTML }}</p>
        </div>
        <a href="{{ .booking_link }}" target="_blank" class='flex flex-wrap items-center bg-purple hover:bg-purple-hover rounded-full font-p22 text-lite-gray leading-none text-center py-3 px-3 w-5/12 text-sm mt-8 mr-8'>
            <p class="w-full">Book your class now</p>
        </a>
        <a href="/schedule/" class='flex flex-wrap items-center border-2 border-purple hover:bg-purple rounded-full font-p22 text-purple hover:text-lite-gray leading-none text-center py-3 px-3 w-5/12 text-sm mt-8'>
            <p class="w-full">View Class Schedule</p>
        </a>
        <div class="flex flex-wrap items-center mx-auto pb-20">
            <div class="w-full">
                <p class='{{ partial "gCSS/type/paragraph.txt"}} text-sm italic leading-tight pt-8'>Due to COVID-19, we have suspended all in-person Dig Deep classes until further notice.</p>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>

{{ partial "global/newsletter.html" . }}

{{ end }}