{{ define "main" }}

<style>

</style>

<h1 class='{{ partial "gCSS/type/heading"}} text-5xl'>Feel at home <br>in your body</h1>
<h1 class='{{ partial "gCSS/type/paragraph"}} text-base'>We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</h1>

<a href="" class='{{ partial "gCSS/button/purple-outline"}} text-base mx-4'>
View Class Schedule
</a>

<p class="text-purple">We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</p>
<p class="text-lite-purple">We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</p>
<p class="text-dark-purple">We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</p>
<p class="text-gray">We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</p>
<p class="text-lite-gray">We offer a therapeutic approach to yoga through different modalities that appeals to the mind, body, and Spirit.</p>

<div class="py-80"></div>
<div class="py-80"></div>
<div class="py-80"></div>

<a href="#mobile-menu" id="mobile-menu-button" class="w-full text-right z-50">
    <div>
      <i data-micromodal-trigger="mobile-menu" class="lg:hidden text-2xl sm:text-3xl mobile-menu-icon fas fa-bars"></i>
    </div>
  </a>
<div id="bottom" class="py-80"></div>
<h1>hey this is the bottom</h1>
{{ end }}