{{ define "main" }}

<style>
form input {
    border-radius: 20px;
}
form textarea {
    border-radius: 20px;
}
form select {
    background-color: white;
    border-radius: 20px;
}
.header-fixed {
    position: absolute !important;
}
</style>

<div class="flex flex-wrap items-center w-5/6 md:w-1/2 max-w-2xl text-center mx-auto py-20">
  <div class="w-full">
    <h1 class='{{ partial "gCSS/type/heading"}} text-5xl sm:text-5halfxl pb-6'>{{ .Title }}</h1>
  </div>
</div>

<div class="flex flex-wrap items-center w-5/6 max-w-6xl sm:text-left mx-auto pb-40">
  <div class="flex flex-wrap w-full mx-auto">
        <div class="w-full md:w-full text-center sm:text-left mx-auto pb-12 md:pb-0">
            <h4 class='{{ partial "gCSS/type/heading"}} text-4halfxl pb-6'>{{ .Params.contact_form_section.title }}</h4>
            <form class="flex flex-wrap w-full font-p22" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="kids-camp-application" method="POST" netlify>
                <input type="hidden" name="subject" value="Kids Camp Application from Website" />
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>First Name*</label>
                    <input name="childs-first-name" type="text" placeholder="write your name here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Middle Name</label>
                    <input name="childs-middle-name" type="text" placeholder="write your name here" class="w-full sm:w-11/12 m-2 py-2 px-4">
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Last Name*</label>
                    <input name="childs-last-name" type="text" placeholder="write your name here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Gender*</label>
                    <select class="w-full sm:w-11/12 m-2 py-2 px-4" name="childs-gender" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="w-2/3"></div>
                <div class="w-full sm:w-2/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Street Address*</label>
                    <input name="street-address" type="text" placeholder="write your street address here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Address Line 2</label>
                    <input name="street-address-line-2" type="text" placeholder="" class="w-full sm:w-11/12 m-2 py-2 px-4">
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>City*</label>
                    <input name="city" type="text" placeholder="write your city here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>State*</label>
                    <input name="state" type="text" placeholder="write your state here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/3 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Zip Code*</label>
                    <input name="zip-code" type="text" placeholder="write your zip code here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <h2 class='{{ partial "gCSS/type/heading"}} w-full text-4xl py-12'>Parent/Legal Guardian Information</h2>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Name*</label>
                    <input name="parent-guardian-name" type="text" placeholder="write your name here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Relation*</label>
                    <input name="relation-to-child" type="text" placeholder="write your relation to the applicant here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Email*</label>
                    <input name="parents-email" type="email" placeholder="write your email here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Phone*</label>
                    <input name="parents-phone" type="tel" placeholder="write your phone number here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <h2 class='{{ partial "gCSS/type/heading"}} w-full text-4xl py-12'>Emergency Contact Info</h2>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Emergency Contact Name*</label>
                    <input name="emergency-contact-name" type="text" placeholder="write your response here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <div class="w-full sm:w-1/2 py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Emergency Contact Phone*</label>
                    <input name="emergency-contact-phone" type="tel" placeholder="write your response here" class="w-full sm:w-11/12 m-2 py-2 px-4" required>
                </div>
                <h2 class='{{ partial "gCSS/type/heading"}} w-full text-4xl py-12'>Drop off and Pick up</h2>
                <div class="w-full pt-12">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Please list the People who are authorized to pick up the camper. List Name (first and last) and phone number for each person*</label>
                    <textarea name="people-authorized-to-pick-up-child" placeholder="write your response here" class="w-full h-32 m-2 py-2 px-4" required></textarea>
                    <h6 class='{{ partial "gCSS/type/paragraph"}} text-xs leading-tight pl-4'>Children will NOT be released to individuals not on the approved list.</h6>
                </div>
                <h2 class='{{ partial "gCSS/type/heading"}} w-full text-4xl py-12'>Health Information</h2>
                <div class="w-full pt-12">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>List any allergies (ex: bees,peanuts, dairy)*</label>
                    <textarea name="allergy-information" placeholder="write your response here" class="w-full h-32 m-2 py-2 px-4" required></textarea>
                </div>
                <div class="w-full pt-12">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Any dietary needs that we should know about?*</label>
                    <textarea name="dietary-needs-of-child" placeholder="write your response here" class="w-full h-32 m-2 py-2 px-4" required></textarea>
                </div>
                <h2 class='{{ partial "gCSS/type/heading"}} w-full text-4xl py-12'>Camper Photo Release</h2>
                <div class="w-full py-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>I agree that photos of my child can be taken and used for social media purposes*</label>
                    <select class="w-full sm:w-11/12 m-2 py-2 px-4" name="photo-release-consent" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="flex flex-wrap w-5/6 mx-auto pt-12">
                    By Typing your name and submiting this form you agree that you are the parent or legal guardian of the
                    above named camper, and are over the age of 18. In case of medical emergency or general medical care,
                    you give consent for medical teatment for the above named camper by authorized personnel. You
                    understand that the above named camper will only be released to the names listed above, an update may
                    be done at registration. You certify that your child has your permission to attend camp and participate in
                    all activites.<br/><br/>
                    </p>
                </div>
                <div class="w-full sm:w-4/5 mx-auto pt-12 pb-3">
                    <label class='{{ partial "gCSS/type/paragraph"}} text-lg leading-tight pl-4'>Electronic signature, please type your name*</label>
                    <input name="name-signature" type="text" placeholder="write your name here" class="w-full m-2 py-2 px-4" required>
                </div>
                <div class="w-5/6 text-right mx-auto">
                    <input type="submit" value="Submit" class='{{ partial "gCSS/button/purple"}} text-base mt-4 mx-auto hover:cursor-pointer'>
                </div>
            </form>
        </div>
  </div>
</div>

{{ partial "global/newsletter.html" . }}

{{ end }}