{{ define "main" }}

<style>
</style>

<div class="flex flex-wrap flex-col-reverse sm:flex-row items-start w-11/12 md:w-5/6 xl:w-3/4 max-w-8xl text-center sm:text-left mx-auto pt-24 pb-12">
  <div class="w-full sm:w-1/2 md:pr-24">
    <h1 class='{{ partial "gCSS/type/heading.txt"}} text-4xl lg:text-5xl pt-8 sm:pt-0 pb-8'>{{ .Params.hero_section.title | safeHTML }}</h1>
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl lg:text-xl pb-8'>{{ .Params.hero_section.paragraph | safeHTML }}</p>
  </div>
  <div id="" class="w-full sm:w-1/2 bg-contain bg-center bg-no-repeat">
    {{ $doublequotes := `"`}}
    {{ $singlequotes := `'`}}
    {{ $htmlopencode := `&lt;` }}
    {{ $openhtml := `<` }}
    {{ $htmlclosecode := `&gt;` }}
    {{ $closehtml := `>` }}
    {{ .Params.hero_section.video_link | replaceRE $htmlopencode $openhtml | replaceRE $doublequotes $singlequotes | replaceRE $htmlclosecode $closehtml | safeHTML }}
  </div>
</div>

<div class="flex flex-wrap w-11/12 max-w-5xl mx-auto">
    <div class="w-full md:w-1/2 pb-12 md:pb-0">
        <h4 class='{{ partial "gCSS/type/heading.txt"}} text-4xl pb-6'>{{ .Params.hygiene_section.title }}</h4>
        <ul class='list-disc {{ partial "gCSS/type/paragraph.txt"}} text-lg sm:text-left pb-6 px-8'>
        {{ range .Params.hygiene_section.hygiene_list }}
            <li class=''>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
    <div class="w-full md:w-1/2 pb-12 md:pb-0">
        <h4 class='{{ partial "gCSS/type/heading.txt"}} text-4xl pb-6'>{{ .Params.stay_home_section.title }}</h4>
        <ul class='list-disc {{ partial "gCSS/type/paragraph.txt"}} text-lg sm:text-left pb-6 px-8'>
        {{ range .Params.stay_home_section.stay_home_list }}
            <li class=''>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
</div>

<div class="flex flex-wrap items-start w-11/12 md:w-5/6 xl:w-3/4 max-w-8xl text-center sm:text-left mx-auto pt-24 pb-24">
    <div id="" class="w-full sm:w-1/2 bg-contain bg-center bg-no-repeat">
        {{ $doublequotes := `"`}}
        {{ $singlequotes := `'`}}
        {{ $htmlopencode := `&lt;` }}
        {{ $openhtml := `<` }}
        {{ $htmlclosecode := `&gt;` }}
        {{ $closehtml := `>` }}
        {{ .Params.what_were_doing_section.video_link | replaceRE $htmlopencode $openhtml | replaceRE $doublequotes $singlequotes | replaceRE $htmlclosecode $closehtml | safeHTML }}
    </div>
  <div class="w-full sm:w-1/2 sm:pl-5 md:pl-20">
    <h2 class='{{ partial "gCSS/type/heading.txt"}} text-4xl lg:text-5xl pt-8 sm:pt-0 pb-8'>{{ .Params.what_were_doing_section.title | safeHTML }}</h2>
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl pb-8'>{{ .Params.what_were_doing_section.paragraph | safeHTML }}</p>
  </div>
</div>

<div class="flex flex-wrap w-11/12 max-w-5xl mx-auto">
    <div class="w-full md:w-1/2 pb-12 md:pb-0">
        <h4 class='{{ partial "gCSS/type/heading.txt"}} text-4xl pb-6'>{{ .Params.what_were_doing_list_section.title }}</h4>
        <ul class='list-disc {{ partial "gCSS/type/paragraph.txt"}} text-lg sm:text-left pb-6 px-8'>
        {{ range .Params.what_were_doing_list_section.what_were_doing_list }}
            <li class=''>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
    <div class="w-full md:w-1/2 pb-12 md:pb-0">
        <h4 class='{{ partial "gCSS/type/heading.txt"}} text-4xl pb-6'>{{ .Params.current_process_section.title }}</h4>
        <ul class='list-disc {{ partial "gCSS/type/paragraph.txt"}} text-lg sm:text-left pb-6 px-8'>
        {{ range .Params.current_process_section.current_process_list }}
            <li class=''>{{ . }}</li>
        {{ end }}
        </ul>
    </div>
</div>

<div class="flex flex-wrap flex-col-reverse sm:flex-row items-start w-11/12 md:w-5/6 xl:w-3/4 max-w-8xl text-center sm:text-left mx-auto pt-24 pb-24">
  <div class="w-full sm:w-1/2 sm:pr-3 md:pr-24">
    <h2 class='{{ partial "gCSS/type/heading.txt"}} text-4xl lg:text-5xl pt-8 sm:pt-0 pb-8'>{{ .Params.updated_pricing_section.title | safeHTML }}</h2>
    <p class='{{ partial "gCSS/type/paragraph.txt"}} text-xl pb-8'>{{ .Params.updated_pricing_section.paragraph | safeHTML }}</p>
    <a href="{{ .Params.updated_pricing_section.button_link | safeHTML }}" class='{{ partial "gCSS/button/purple.txt"}} text-base'>
      {{ .Params.updated_pricing_section.button_text | safeHTML }}
    </a>
  </div>
  <div id="" class="w-full sm:w-1/2 bg-contain bg-center bg-no-repeat ">
    {{ $doublequotes := `"`}}
    {{ $singlequotes := `'`}}
    {{ $htmlopencode := `&lt;` }}
    {{ $openhtml := `<` }}
    {{ $htmlclosecode := `&gt;` }}
    {{ $closehtml := `>` }}
    {{ .Params.updated_pricing_section.video_link | replaceRE $htmlopencode $openhtml | replaceRE $doublequotes $singlequotes | replaceRE $htmlclosecode $closehtml | safeHTML }}
  </div>
</div>

{{ $typesOfClassesTitle :=  .Params.classes_section.title }}
{{ $typesOfClassesParagraph :=  .Params.classes_section.paragraph }}
{{ partial "global/class-boxes.html" (dict "pages" $.Site.Pages "title" $typesOfClassesTitle "pages" $.Site.Pages "paragraph" $typesOfClassesParagraph) }}

<div class="py-20"></div>

{{ partial "global/newsletter.html" . }}

{{ end }}