{{ define "main" }}

<div class="flex flex-wrap items-center w-5/6 md:w-1/2 max-w-2xl text-center mx-auto py-20">
  <div class="w-full">
    <h1 class='{{ partial "gCSS/type/heading"}} text-5xl sm:text-5halfxl pb-6'>{{ .Params.text_hero_section.title | safeHTML }}</h1>
    <p class='{{ partial "gCSS/type/paragraph"}} text-xl sm:text-2xl pb-8'>{{ .Params.text_hero_section.paragraph | safeHTML }}</p>
  </div>
</div>

<div class="w-5/6 max-w-8xl mx-auto pb-40">
<div id='collection-component-1588014384840'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'sacred-space-yoga.myshopify.com',
      storefrontAccessToken: '3841301b144df3b1bb432dd5e464e545',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '158147739750',
        node: document.getElementById('collection-component-1588014384840'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        },
        "img": {
          "height": "calc(100% - 15px)",
          "position": "absolute",
          "left": "0",
          "right": "0",
          "top": "0"
        },
        "imgWrapper": {
          "padding-top": "calc(75% + 15px)",
          "position": "relative",
          "height": "0"
        }
      },
      "title": {
        "font-family": "Domaine-Text, serif",
        "font-weight": "normal",
        "font-size": "32px",
        "color": "black"
      },
      "button": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#5f1e5b"
        },
        "background-color": "#692165",
        ":focus": {
          "background-color": "#5f1e5b"
        },
        "border-radius": "40px",
        "padding-left": "28px",
        "padding-right": "28px"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "price": {
        "font-family": "p22-underground, sans-serif",
        "font-size": "22px"
      },
      "compareAt": {
        "font-family": "p22-underground, sans-serif"
      },
      "unitPrice": {
        "font-family": "p22-underground, sans-serif"
      }
    },
    "buttonDestination": "modal",
    "contents": {
      "options": false
    },
    "text": {
      "button": "View product"
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#5f1e5b"
        },
        "background-color": "#692165",
        ":focus": {
          "background-color": "#5f1e5b"
        },
        "border-radius": "40px",
        "padding-left": "28px",
        "padding-right": "28px"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "title": {
        "font-family": "Domaine-Text, serif"
      },
      "price": {
        "font-family": "p22-underground, sans-serif"
      },
      "compareAt": {
        "font-family": "p22-underground, sans-serif"
      },
      "unitPrice": {
        "font-family": "p22-underground, sans-serif"
      },
      "description": {
        "font-family": "p22-underground, sans-serif",
        "font-weight": "bold"
      }
    },
    "googleFonts": [
      "Droid Sans",
      "PT Sans",
      "Quantico"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "p22-underground, sans-serif"
      },
      "select": {
        "font-family": "p22-underground, sans-serif"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#5f1e5b"
        },
        "background-color": "#692165",
        ":focus": {
          "background-color": "#5f1e5b"
        },
        "border-radius": "40px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#692165",
        ":hover": {
          "background-color": "#5f1e5b"
        },
        ":focus": {
          "background-color": "#5f1e5b"
        }
      },
      "count": {
        "font-size": "16px"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

</div>

{{ partial "global/newsletter.html" . }}

{{ end }}