@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flickity/css/flickity.css";

@font-face {
  font-family: Domaine-Text;
  src: url("/fonts/domaine-text-web-regular.woff") format("woff");
}

html {
  font-size: 16px;
}

body {
  background-color: #EFEDEA;
}

a {
  transition: .2s;
}

.mobile-menu-toggle {margin-top: 0px !important;}

.mobile-menu {
  position:absolute;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -570px;
  height: 450px;
  transition: .5s;
}

.mobile-menu-button button {
  background-color: transparent;
  border-color: transparent;
}

.desktop-menu {
  display:none;
}

@media screen and (min-width:992px) {
  .mobile-menu-button {
    display: none;
  }
  .desktop-menu {
    display:block;
  }
}

.body-wrapper {
  margin: auto;
}

/* Elevator css */

.elevator-button {
  position: fixed;
  font-size: 30px;
  right: 5%;
  bottom: 10%;
  transition: .2s;
}

.hidegotoTop {
  right: -100px !important;
  transition: .2s;
}

.elevator-button:hover {
  cursor: pointer;
  padding-bottom: 5px;
}