<style>
.header-container {
  transition: .3s;
}
.types-of-classes {
  background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/q_auto,f_auto/v1586541194/Sacred%20Space/alternative_yoga_site_background_l0ozym.jpg")
}
.session-gradiant {
  background-image: linear-gradient(to bottom, rgba(196,196,196, 0.11), rgba(66,21,64,1));
  border-radius: 40px;
  border-bottom-right-radius: 30px;
  transition: background-image 0.5s linear;
}

.classes-box:hover {
  transform: scale(1.05);
}

.session-gradiant::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(196,196,196, 0.22), rgba(66,21,64,1));
  z-index: -1;
  transition: opacity .2s linear;
  opacity: 0;
  border-radius: 40px;
  border-bottom-right-radius: 30px;
}

.classes-box:hover > .session-gradiant::before {
  opacity: 1;
}

.lzy-bk {
   background-image: none !important;
   background-color: #F1F1FA;
}
</style>

<div id="header-functions" class="">
  {{ if eq .Site.Params.extra_tools.floating_header true }}
  <div id="headerFloatingHeightFix" class="" ></div>
  {{ else }}
  {{ end }}
  
  <section id="header" class="bg-color-013725 z-50 header-container">
    <div class="flex flex-wrap items-center max-w-122 h-24 select-none mx-auto py-4 px-5 xs:px-10 md:px-20 lg:px-12 xl:px-20 z-50 header-box">
      <div id="logo" class="w-3/4 sm:w-2/3 lg:w-1/5 text-2xl xs:text-3xl sm:text-4xl md:text-4xl py-1 z-50">
        <a id="logo-text" href="/" class="font-ibm-mono font-bold text-left">
          <img class="w-64" src="{{ .Site.Data.global_data.logos.logo }}">
        </a>
      </div>
      {{ partial "siteNavi.html" . }}
    </div>
  </section>
</div>