{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script defer src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

{{ if eq .Site.Params.extra_tools.floating_header true }}
<script>
const header = document.querySelector(".header-container")
let computedStyle = getComputedStyle(header);
let headerBoxHeight = computedStyle.height
const headerHeightFix = document.querySelector("#headerFloatingHeightFix")
const addHeaderFloat = () => header.classList.add("fixed", "z-20", "w-full", "bg-lite-gray", "shadow-lg", "header-fixed");
const addHeaderHeightFix = () => headerHeightFix.setAttribute("style", "height:" + headerBoxHeight);
const removeHeaderFloat = () => header.classList.remove("fixed", "z-20", "w-full", "bg-lite-gray", "shadow-lg", "header-fixed");
const removeHeaderHeightFix = () => headerHeightFix.setAttribute("style", "height:0px");

let lastScrollTop = 0;
window.addEventListener("scroll", function(){ 
   let st = window.pageYOffset || document.documentElement.scrollTop; 
   if (st > lastScrollTop){
     header.style.top=-headerBoxHeight.replace("px", "") + "px"
   }
   else if (st === 0){
     removeHeaderFloat(), removeHeaderHeightFix()
   }
   else {
     addHeaderFloat(), addHeaderHeightFix(),
     header.style.top=0 + "px"
   }
   lastScrollTop = st <= 0 ? 0 : st;
}, false);
</script>
{{ else }}
{{ end }}

<!-- fix modal errors -->
<script>
function open() {
  const headerFixed = document.querySelector("#mobile-menu-button")
  headerFixed.classList.add("-mt-40")
}

function close() {
  const headerFixed = document.querySelector("#mobile-menu-button")
  headerFixed.classList.remove("-mt-40")
}
</script>
<!-- END fix modal errors -->

<!-- check ie11 status for lazy loading images -->
<script>
let isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
if (isIE11 === false) {
  let lazyBack = document.querySelectorAll("#lzy-bk");
  for (i = 0; i < lazyBack.length; ++i) {
    lazyBack[i].classList.add("lazy");
  }
  let lazyImg = document.querySelectorAll("#lzy-img");
  for (i = 0; i < lazyImg.length; ++i) {
    lazyImg[i].classList.add("lazy");
  }
}
</script>
<!-- END check ie11 status for lazy loading images -->