<div class="flex flex-wrap items-center w-full bg-purple text-center mx-auto py-20">
  <div class="w-5/6 md:w-1/2 max-w-2xl mx-auto">
    <h2 class='{{ partial "gCSS/type/heading"}} text-4xl sm:text-5xl pb-3 text-white'>Subscribe to our newsletter</h2>
    <p class='{{ partial "gCSS/type/paragraph"}} text-lg sm:text-2xl pb-8 text-white'>Our newsletters are filled with helpful tips, deeper training, and useful aids to keep you on your journey of wholeness.</p>
    <a data-formkit-toggle="3d88288d92" href="https://deft-speaker-9878.ck.page/3d88288d92" target="_blank" class='{{ partial "gCSS/button/lite-purple"}} text-base'>
      Sign up today!
    </a>
  </div>
</div>